.DS_Store
node_modules
.sass-cache
*~
*.swp
style.css
assets/js/main.min.js
assets/js/main.min.map
assets/js/plugins.min.js
assets/js/plugins.min.map
assets/styles/build/style.css
assets/styles/build/style.css.map
